.dress-code::-webkit-scrollbar {
  height: 7px;
  display: none;
}

.dress-code::-webkit-scrollbar-thumb {
  background: var(--salmon-pink);
  border-radius: 20px;
}

.dress-code {
  margin: auto;
  border-radius: 10px;
  overflow-x: auto;
  position: relative;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  width: 1200px;
  margin-top: 20px;
}
.dress-code:hover::-webkit-scrollbar {
  display: block;
}
.dress-code .code {
  width: 280px;
  height: 100px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 20px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 10px;
  position: relative;
  min-width: 23.25%;
}
.dress-code .code .gray {
  width: 70px;
  height: 70px;
  background-color: rgb(223, 223, 223);
  border: 0.5px solid gray;
  border-radius: 20px;
  text-align: center;
}
.dress-code .code .gray img {
  width: 50px;
  height: 60px;
}
.dress-code .code .code-flex {
  height: 100%;
  padding-top: 10px;
}
.dress-code .code .code-flex h4 {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}
.dress-code .code .code-flex span {
  position: absolute;
  top: 20px;
  right: 10px;
}
.dress-code .code .code-flex p {
  color: var(--salmon-pink);
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 1116px) {
  .dress-code {
    width: 900px;
  }
  .dress-code .code {
    width: 240px;
    min-width: 31%;
  }
}
@media (max-width: 1020px) {
  .dress-code {
    width: 800px;
  }
  .dress-code .code {
    width: 240px;
    min-width: 31%;
  }
  .dress-code .code .code-flex {
    height: 100%;
    padding-top: 10px;
  }
  .dress-code .code .code-flex h4 {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
  }
  .dress-code .code .code-flex span {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .dress-code .code .code-flex p {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 820px) {
  .dress-code {
    width: 700px;
    margin-top: 5%;
  }
  .dress-code .code {
    width: 250px;
    min-width: 46.5%;
  }
  .dress-code .code .code-flex {
    height: 100%;
    padding-top: 10px;
  }
  .dress-code .code .code-flex h4 {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
  }
  .dress-code .code .code-flex span {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .dress-code .code .code-flex p {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 720px) {
  .dress-code {
    width: 600px;
    margin-top: 5%;
  }
  .dress-code .code {
    width: 250px;
    min-width: 46.5%;
  }
  .dress-code .code .code-flex {
    height: 100%;
    padding-top: 10px;
  }
  .dress-code .code .code-flex h4 {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
  }
  .dress-code .code .code-flex span {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .dress-code .code .code-flex p {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 620px) {
  .dress-code {
    width: 500px;
    margin-top: 5%;
  }
  .dress-code .code {
    width: 250px;
    min-width: 95%;
  }
  .dress-code .code .code-flex {
    height: 100%;
    padding-top: 10px;
  }
  .dress-code .code .code-flex h4 {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
  }
  .dress-code .code .code-flex span {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .dress-code .code .code-flex p {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 520px) {
  .dress-code {
    width: 400px;
    margin-top: 5%;
  }
  .dress-code .code {
    width: 250px;
    min-width: 95%;
  }
  .dress-code .code .code-flex {
    height: 100%;
    padding-top: 10px;
  }
  .dress-code .code .code-flex h4 {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
  }
  .dress-code .code .code-flex span {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .dress-code .code .code-flex p {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 420px) {
  .dress-code {
    width: 300px;
    margin-top: 15%;
  }
  .dress-code .code {
    width: 240px;
    min-width: 95%;
  }
  .dress-code .code .code-flex {
    height: 100%;
    padding-top: 10px;
  }
  .dress-code .code .code-flex h4 {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
  }
  .dress-code .code .code-flex span {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .dress-code .code .code-flex p {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: bold;
  }
}
@media (max-width: 310px) {
  .dress-code {
    width: 230px;
    margin-top: 15%;
  }
  .dress-code .code {
    min-width: 95%;
  }
  .dress-code .code .code-flex {
    height: 100%;
    padding-top: 10px;
  }
  .dress-code .code .code-flex h4 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
  }
  .dress-code .code .code-flex span {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .dress-code .code .code-flex p {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: bold;
  }
}/*# sourceMappingURL=DressCode.css.map */